<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>734364023833-u6pisv10i5ali2a7a5lrl1tbf9mg72hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734364023833-u6pisv10i5ali2a7a5lrl1tbf9mg72hg</string>
	<key>API_KEY</key>
	<string>AIzaSyCe4NptO7C7RnmBbQrGYdBWNbJDYPsLs7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>734364023833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quanvo.proxy</string>
	<key>PROJECT_ID</key>
	<string>proxy-f90c4</string>
	<key>STORAGE_BUCKET</key>
	<string>proxy-f90c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734364023833:ios:5dfe3de44baa147e</string>
	<key>DATABASE_URL</key>
	<string>https://proxy-f90c4.firebaseio.com</string>
</dict>
</plist>