<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>802353022851-6fb8hs3u4oqc9m9mf2t17kkdm1scoda5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802353022851-6fb8hs3u4oqc9m9mf2t17kkdm1scoda5</string>
	<key>API_KEY</key>
	<string>AIzaSyCfH_UVqEE28hKS9z0mFQQijKo5kqEtjyA</string>
	<key>GCM_SENDER_ID</key>
	<string>802353022851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quanvo.ProxyApp</string>
	<key>PROJECT_ID</key>
	<string>proxy-b8f1b</string>
	<key>STORAGE_BUCKET</key>
	<string>proxy-b8f1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:802353022851:ios:e78e395b320554fd</string>
	<key>DATABASE_URL</key>
	<string>https://proxy-b8f1b.firebaseio.com</string>
</dict>
</plist>